hr {height:2px;
    border-width:0;
    color:rgb(14, 14, 117);
    background-color:rgb(14, 14, 117)}

.ob{
    width:50%;
    margin-left:0;
}


h1 {
    text-align: center;
    font-size: 40px;
    font-family: Garamond, serif;
    color: rgb(14, 14, 117);
}

h2 {
    font-size: 30px;
    font-family: Garamond, serif;
    color: rgb(14, 14, 117);
}

h3 {
    font-family: Garamond, serif;
    color: rgb(14, 14, 117);
}

div {
    position: absolute;
    border: 2px outset rgb(14, 14, 117);
    display: block;
    right: 130px;
    padding: 20px;
    width: 370px;
}